# Imports

In [1]:
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
import requests

# Single Town Test

In [2]:
url = 'https://data.police.uk/api/crimes-street/all-crime?lat=52.639969&lng=-1.129966&date=2022-04'

## Co-ordinate Pair Test

In [4]:
response = requests.get(url)

In [5]:
test_df = pd.DataFrame(response.json())

In [6]:
test_df

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month
0,anti-social-behaviour,Force,"{'latitude': '52.641197', 'street': {'id': 884...",,None,,100980040,,2022-04
1,anti-social-behaviour,Force,"{'latitude': '52.637674', 'street': {'id': 883...",,None,,100979863,,2022-04
2,anti-social-behaviour,Force,"{'latitude': '52.636110', 'street': {'id': 883...",,None,,100979889,,2022-04
3,anti-social-behaviour,Force,"{'latitude': '52.637712', 'street': {'id': 883...",,None,,100980154,,2022-04
4,anti-social-behaviour,Force,"{'latitude': '52.636721', 'street': {'id': 883...",,None,,100979453,,2022-04
...,...,...,...,...,...,...,...,...,...
1399,other-crime,Force,"{'latitude': '52.643565', 'street': {'id': 884...",,{'category': 'Investigation complete; no suspe...,979e392444566adb825bfbf2afe00e4fb7a6d6d0bcd35f...,100976746,,2022-04
1400,other-crime,Force,"{'latitude': '52.632887', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",0ae883d698d60e4135ef79667eb799c8bbaa4c5fbbf0e8...,100970987,,2022-04
1401,other-crime,Force,"{'latitude': '52.637432', 'street': {'id': 883...",,{'category': 'Investigation complete; no suspe...,437bf7739108ff2893f9c0b16eb754cf0c837de35b4127...,100977254,,2022-04
1402,other-crime,Force,"{'latitude': '52.643222', 'street': {'id': 884...",,"{'category': 'Unable to prosecute suspect', 'd...",d58d6ea1f30241da01d698da7fd5e81fecd23321c6db24...,100974184,,2022-04
1403,other-crime,Force,"{'latitude': '52.633190', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",63813be002e20624fe3d8fe4abfab8a7bcbcd03e36f71b...,100977746,,2022-04

In [7]:
crime_category = test_df[['category']]

In [8]:
crime_category.value_counts()

category
violent-crime            484
public-order             222
other-theft              130
anti-social-behaviour    106
shoplifting               96
criminal-damage-arson     65
bicycle-theft             59
drugs                     50
burglary                  44
vehicle-crime             39
theft-from-the-person     36
possession-of-weapons     27
robbery                   25
other-crime               21
Name: count, dtype: int64

In [9]:
location = test_df[["location"]]

In [10]:
location["location"][0]["longitude"]

'-1.129100'

In [11]:
location.isnull().sum()

location    0
dtype: int64

In [12]:
location["location"][0]["latitude"]

'52.641197'

In [13]:
test_dict = location["location"][0]

In [14]:
loc_test_df = test_df.copy()

In [15]:
location_list = list(location["location"])
loc_test_df = pd.concat([loc_test_df, pd.DataFrame(location_list)], axis = 1)

In [16]:
loc_test_df[["longitude"]].min()

longitude    -1.106265
dtype: object

In [17]:
loc_test_df[["longitude"]].max()

longitude    -1.153214
dtype: object

In [18]:
loc_test_df[["latitude"]].min()

latitude    52.625703
dtype: object

In [19]:
loc_test_df[["latitude"]].max()

latitude    52.653712
dtype: object

## Poly-Coordinate Test

In [20]:
url_poly = 'https://data.police.uk/api/crimes-street/all-crime?poly=52.606,-1.284:52.574,-1.043:52.691,-1.123&date=2022-04'

In [21]:
response_poly = requests.get(url_poly)

In [22]:
poly_test_df = pd.DataFrame(response_poly.json())

In [23]:
poly_test_df

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month
0,anti-social-behaviour,Force,"{'latitude': '52.620869', 'street': {'id': 882...",,None,,100979624,,2022-04
1,anti-social-behaviour,Force,"{'latitude': '52.621192', 'street': {'id': 882...",,None,,100979898,,2022-04
2,anti-social-behaviour,Force,"{'latitude': '52.639138', 'street': {'id': 883...",,None,,100980019,,2022-04
3,anti-social-behaviour,Force,"{'latitude': '52.627058', 'street': {'id': 882...",,None,,100980020,,2022-04
4,anti-social-behaviour,Force,"{'latitude': '52.636790', 'street': {'id': 883...",,None,,100979441,,2022-04
...,...,...,...,...,...,...,...,...,...
4371,other-crime,Force,"{'latitude': '52.635767', 'street': {'id': 883...",,{'category': 'Action to be taken by another or...,4147bdbf81f12e4f395c385fd28ca52827ea77752c7a34...,100972696,,2022-04
4372,other-crime,Force,"{'latitude': '52.641708', 'street': {'id': 884...",,{'category': 'Action to be taken by another or...,ed57e2d11a634132675f6b34d0383833d03991723d096f...,100972816,,2022-04
4373,other-crime,Force,"{'latitude': '52.625777', 'street': {'id': 882...",,"{'category': 'Unable to prosecute suspect', 'd...",9d699110254db236ae2ba89b86b775b3b5c585437d902e...,100976474,,2022-04
4374,other-crime,Force,"{'latitude': '52.639770', 'street': {'id': 883...",,{'category': 'Further investigation is not in ...,c9bd7826d67289cd42c00ca5374a7140df643035b1d5fa...,100972125,,2022-04
4375,other-crime,Force,"{'latitude': '52.632887', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",0ae883d698d60e4135ef79667eb799c8bbaa4c5fbbf0e8...,100970987,,2022-04

In [25]:
location_list = list(poly_test_df["location"])
poly_test_df = pd.concat([poly_test_df, pd.DataFrame(location_list)], axis = 1)

In [28]:
final_poly_df = poly_test_df[["category", "latitude", "longitude"]]

In [30]:
final_poly_df["city"] = "Leicester"

/tmp/ipykernel_29530/2473935748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_poly_df["city"] = "Leicester"

In [32]:
final_poly_df["date"] = poly_test_df["month"]

/tmp/ipykernel_29530/2910771465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_poly_df["date"] = poly_test_df["month"]

In [33]:
final_poly_df

                   category   latitude  longitude       city     date
0     anti-social-behaviour  52.620869  -1.092988  Leicester  2022-04
1     anti-social-behaviour  52.621192  -1.162424  Leicester  2022-04
2     anti-social-behaviour  52.639138  -1.137683  Leicester  2022-04
3     anti-social-behaviour  52.627058  -1.154260  Leicester  2022-04
4     anti-social-behaviour  52.636790  -1.131360  Leicester  2022-04
...                     ...        ...        ...        ...      ...
4371            other-crime  52.635767  -1.135267  Leicester  2022-04
4372            other-crime  52.641708  -1.092971  Leicester  2022-04
4373            other-crime  52.625777  -1.125181  Leicester  2022-04
4374            other-crime  52.639770  -1.188995  Leicester  2022-04
4375            other-crime  52.632887  -1.131127  Leicester  2022-04

[4376 rows x 5 columns]

# Muliti-Town Test

In [35]:
location_df = pd.read_csv('/home/mih_sud/code/willbanny/Location-Analysis/raw_data/gb_towns_lat_lon_pop.csv')

## Triangle testing

In [38]:
latitude = [52.606, 52.574, 52.691] 
longitude = [-1.284, -1.043  -1.123]

In [41]:
location_df.head(50)

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,London,51.5072,-0.1275,United Kingdom,GB,"London, City of",primary,11262000,8825001
1,Birmingham,52.4800,-1.9025,United Kingdom,GB,Birmingham,NaN,2919600,1137100
2,Manchester,53.4794,-2.2453,United Kingdom,GB,Manchester,NaN,2705000,547627
3,Liverpool,53.4075,-2.9919,United Kingdom,GB,Liverpool,NaN,864122,513441
4,Portsmouth,50.8058,-1.0872,United Kingdom,GB,Portsmouth,NaN,855679,248440
5,Southampton,50.9025,-1.4042,United Kingdom,GB,Southampton,NaN,855569,271173
6,Nottingham,52.9533,-1.1500,United Kingdom,GB,Nottingham,NaN,768638,289301
7,Bristol,51.4536,-2.5975,United Kingdom,GB,"Bristol, City of",NaN,567111,567111
8,Leicester,52.6344,-1.1319,United Kingdom,GB,Leicester,NaN,508916,464395
9,Coventry,52.4081,-1.5106,United Kingdom,GB,Coventry,NaN,362690,362690
10,Belfast,54.5964,-5.9300,United Kingdom,GB,Belfast,NaN,333871,333871
11,Stockport,53.4083,-2.1494,United Kingdom,GB,Stockport,NaN,295200,295200
12,Bradford,53.8000,-1.7500,United Kingdom,GB,Bradford,NaN,293277,293277
13,Plymouth,50.3714,-4.1422,United Kingdom,GB,Plymouth,NaN,267918,267918
14,Derby,52.9217,-1.4767,United Kingdom,GB,Derby,NaN,255394,255394
15,Westminster,51.4947,-0.1353,United Kingdom,GB,Westminster,NaN,255324,255324
16,Wolverhampton,52.5833,-2.1333,United Kingdom,GB,Wolverhampton,NaN,250970,250970
17,Norwich,52.6286,1.2928,United Kingdom,GB,Norfolk,NaN,213166,195971
18,Luton,51.8783,-0.4147,United Kingdom,GB,Luton,NaN,213052,213052
19,Solihull,52.4130,-1.7780,United Kingdom,GB,Solihull,NaN,206674,206674
20,Islington,51.5440,-0.1027,United Kingdom,GB,Islington,NaN,206125,206125
21,Aberdeen,57.1500,-2.1100,United Kingdom,GB,Aberdeen City,NaN,200680,200680
22,Croydon,51.3727,-0.1099,United Kingdom,GB,Croydon,NaN,192064,192064
23,Bournemouth,50.7200,-1.8800,United Kingdom,GB,NaN,NaN,187503,187503
24,Basildon,51.5800,0.4900,United Kingdom,GB,Essex,NaN,185900,185900
25,Ilford,51.5575,0.0858,United Kingdom,GB,Redbridge,NaN,168168,168168
26,Warrington,53.3900,-2.5900,United Kingdom,GB,Warrington,NaN,165456,165456
27,Kingswood,51.4600,-2.5050,United Kingdom,GB,South Gloucestershire,NaN,160260,160260
28,Oxford,51.7519,-1.2578,United Kingdom,GB,Oxfordshire,NaN,152000,152000
29,Harrow,51.5836,-0.3464,United Kingdom,GB,Harrow,NaN,149246,149246
30,West Bromwich,52.5190,-1.9950,United Kingdom,GB,Sandwell,NaN,146386,146386
31,Gloucester,51.8644,-2.2444,United Kingdom,GB,Gloucestershire,NaN,145563,145563
32,Blackpool,53.8142,-3.0503,United Kingdom,GB,Blackpool,NaN,139305,139305
33,Sale,53.4240,-2.3220,United Kingdom,GB,Trafford,NaN,134022,134022
34,Tottenham,51.5975,-0.0681,United Kingdom,GB,Haringey,NaN,129237,129237
35,Cambridge,52.2053,0.1192,United Kingdom,GB,Cambridgeshire,NaN,123867,123867
36,Romford,51.5768,0.1801,United Kingdom,GB,Havering,NaN,122854,122854
37,Colchester,51.8917,0.9030,United Kingdom,GB,Essex,NaN,121859,121859
38,High Wycombe,51.6287,-0.7482,United Kingdom,GB,Buckinghamshire,NaN,120256,120256
39,Gateshead,54.9500,-1.6000,United Kingdom,GB,Gateshead,NaN,120046,120046
40,Slough,51.5084,-0.5881,United Kingdom,GB,Slough,NaN,119070,119070
41,Blackburn,53.7480,-2.4820,United Kingdom,GB,Blackburn with Darwen,NaN,117963,117963
42,Chelmsford,51.7300,0.4800,United Kingdom,GB,Essex,NaN,115369,115369
43,Rochdale,53.6136,-2.1610,United Kingdom,GB,Rochdale,NaN,110194,110194
44,Rotherham,53.4300,-1.3570,United Kingdom,GB,Rotherham,NaN,109691,109691
45,Walthamstow,51.5840,-0.0210,United Kingdom,GB,Waltham Forest,NaN,109424,109424
46,Maidstone,51.2720,0.5290,United Kingdom,GB,Kent,NaN,107627,107627
47,Basingstoke,51.2667,-1.0876,United Kingdom,GB,Hampshire,NaN,107355,107355
48,Salford,53.4830,-2.2931,United Kingdom,GB,Salford,NaN,103886,103886
49,Hounslow,51.4668,-0.3750,United Kingdom,GB,Hounslow,NaN,103337,103337

Calculate the relative distance of the Leicester triangle from the co-ordinates given by the location_df and write a function to ping the crime data for the rest of the UK using that distance.