# Imports

In [263]:
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
import requests
from geopy import distance

# Single Town Test

In [2]:
url = 'https://data.police.uk/api/crimes-street/all-crime?lat=52.639969&lng=-1.129966&date=2022-04'

## Co-ordinate Pair Test

In [3]:
response = requests.get(url)

In [4]:
test_df = pd.DataFrame(response.json())

In [5]:
test_df

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month
0,anti-social-behaviour,Force,"{'latitude': '52.641197', 'street': {'id': 884...",,None,,100980040,,2022-04
1,anti-social-behaviour,Force,"{'latitude': '52.637674', 'street': {'id': 883...",,None,,100979863,,2022-04
2,anti-social-behaviour,Force,"{'latitude': '52.636110', 'street': {'id': 883...",,None,,100979889,,2022-04
3,anti-social-behaviour,Force,"{'latitude': '52.637712', 'street': {'id': 883...",,None,,100980154,,2022-04
4,anti-social-behaviour,Force,"{'latitude': '52.636721', 'street': {'id': 883...",,None,,100979453,,2022-04
...,...,...,...,...,...,...,...,...,...
1399,other-crime,Force,"{'latitude': '52.643565', 'street': {'id': 884...",,{'category': 'Investigation complete; no suspe...,979e392444566adb825bfbf2afe00e4fb7a6d6d0bcd35f...,100976746,,2022-04
1400,other-crime,Force,"{'latitude': '52.632887', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",0ae883d698d60e4135ef79667eb799c8bbaa4c5fbbf0e8...,100970987,,2022-04
1401,other-crime,Force,"{'latitude': '52.637432', 'street': {'id': 883...",,{'category': 'Investigation complete; no suspe...,437bf7739108ff2893f9c0b16eb754cf0c837de35b4127...,100977254,,2022-04
1402,other-crime,Force,"{'latitude': '52.643222', 'street': {'id': 884...",,"{'category': 'Unable to prosecute suspect', 'd...",d58d6ea1f30241da01d698da7fd5e81fecd23321c6db24...,100974184,,2022-04
1403,other-crime,Force,"{'latitude': '52.633190', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",63813be002e20624fe3d8fe4abfab8a7bcbcd03e36f71b...,100977746,,2022-04

In [6]:
crime_category = test_df[['category']]

In [7]:
crime_category.value_counts()

category
violent-crime            484
public-order             222
other-theft              130
anti-social-behaviour    106
shoplifting               96
criminal-damage-arson     65
bicycle-theft             59
drugs                     50
burglary                  44
vehicle-crime             39
theft-from-the-person     36
possession-of-weapons     27
robbery                   25
other-crime               21
Name: count, dtype: int64

In [8]:
location = test_df[["location"]]

In [9]:
location["location"][0]["longitude"]

'-1.129100'

In [10]:
location.isnull().sum()

location    0
dtype: int64

In [11]:
location["location"][0]["latitude"]

'52.641197'

In [12]:
test_dict = location["location"][0]

In [13]:
loc_test_df = test_df.copy()

In [14]:
location_list = list(location["location"])
loc_test_df = pd.concat([loc_test_df, pd.DataFrame(location_list)], axis = 1)

In [15]:
loc_test_df[["longitude"]].min()

longitude    -1.106265
dtype: object

In [16]:
loc_test_df[["longitude"]].max()

longitude    -1.153214
dtype: object

In [17]:
loc_test_df[["latitude"]].min()

latitude    52.625703
dtype: object

In [18]:
loc_test_df[["latitude"]].max()

latitude    52.653712
dtype: object

In [66]:
loc_test_df

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month,latitude,street,longitude
0,anti-social-behaviour,Force,"{'latitude': '52.641197', 'street': {'id': 884...",,None,,100980040,,2022-04,52.641197,"{'id': 884356, 'name': 'On or near A594'}",-1.129100
1,anti-social-behaviour,Force,"{'latitude': '52.637674', 'street': {'id': 883...",,None,,100979863,,2022-04,52.637674,"{'id': 883469, 'name': 'On or near Tudor Road'}",-1.147819
2,anti-social-behaviour,Force,"{'latitude': '52.636110', 'street': {'id': 883...",,None,,100979889,,2022-04,52.636110,"{'id': 883290, 'name': 'On or near Humberstone...",-1.131802
3,anti-social-behaviour,Force,"{'latitude': '52.637712', 'street': {'id': 883...",,None,,100980154,,2022-04,52.637712,"{'id': 883292, 'name': 'On or near Haymarket B...",-1.130751
4,anti-social-behaviour,Force,"{'latitude': '52.636721', 'street': {'id': 883...",,None,,100979453,,2022-04,52.636721,"{'id': 883359, 'name': 'On or near Haymarket'}",-1.132898
...,...,...,...,...,...,...,...,...,...,...,...,...
1399,other-crime,Force,"{'latitude': '52.643565', 'street': {'id': 884...",,{'category': 'Investigation complete; no suspe...,979e392444566adb825bfbf2afe00e4fb7a6d6d0bcd35f...,100976746,,2022-04,52.643565,"{'id': 884482, 'name': 'On or near Beech Street'}",-1.109012
1400,other-crime,Force,"{'latitude': '52.632887', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",0ae883d698d60e4135ef79667eb799c8bbaa4c5fbbf0e8...,100970987,,2022-04,52.632887,"{'id': 883388, 'name': 'On or near Belvoir Str...",-1.131127
1401,other-crime,Force,"{'latitude': '52.637432', 'street': {'id': 883...",,{'category': 'Investigation complete; no suspe...,437bf7739108ff2893f9c0b16eb754cf0c837de35b4127...,100977254,,2022-04,52.637432,"{'id': 883333, 'name': 'On or near Potter Stre...",-1.126885
1402,other-crime,Force,"{'latitude': '52.643222', 'street': {'id': 884...",,"{'category': 'Unable to prosecute suspect', 'd...",d58d6ea1f30241da01d698da7fd5e81fecd23321c6db24...,100974184,,2022-04,52.643222,"{'id': 884329, 'name': 'On or near Dysart Way'}",-1.120872
1403,other-crime,Force,"{'latitude': '52.633190', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",63813be002e20624fe3d8fe4abfab8a7bcbcd03e36f71b...,100977746,,2022-04,52.633190,"{'id': 883104, 'name': 'On or near Pluto Close'}",-1.116168

## Poly-Coordinate Test

In [19]:
url_poly = 'https://data.police.uk/api/crimes-street/all-crime?poly=52.606,-1.284:52.574,-1.043:52.691,-1.123&date=2022-04'

In [20]:
response_poly = requests.get(url_poly)

In [21]:
poly_test_df = pd.DataFrame(response_poly.json())

In [22]:
poly_test_df

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month
0,anti-social-behaviour,Force,"{'latitude': '52.620869', 'street': {'id': 882...",,None,,100979624,,2022-04
1,anti-social-behaviour,Force,"{'latitude': '52.621192', 'street': {'id': 882...",,None,,100979898,,2022-04
2,anti-social-behaviour,Force,"{'latitude': '52.639138', 'street': {'id': 883...",,None,,100980019,,2022-04
3,anti-social-behaviour,Force,"{'latitude': '52.627058', 'street': {'id': 882...",,None,,100980020,,2022-04
4,anti-social-behaviour,Force,"{'latitude': '52.636790', 'street': {'id': 883...",,None,,100979441,,2022-04
...,...,...,...,...,...,...,...,...,...
4371,other-crime,Force,"{'latitude': '52.635767', 'street': {'id': 883...",,{'category': 'Action to be taken by another or...,4147bdbf81f12e4f395c385fd28ca52827ea77752c7a34...,100972696,,2022-04
4372,other-crime,Force,"{'latitude': '52.641708', 'street': {'id': 884...",,{'category': 'Action to be taken by another or...,ed57e2d11a634132675f6b34d0383833d03991723d096f...,100972816,,2022-04
4373,other-crime,Force,"{'latitude': '52.625777', 'street': {'id': 882...",,"{'category': 'Unable to prosecute suspect', 'd...",9d699110254db236ae2ba89b86b775b3b5c585437d902e...,100976474,,2022-04
4374,other-crime,Force,"{'latitude': '52.639770', 'street': {'id': 883...",,{'category': 'Further investigation is not in ...,c9bd7826d67289cd42c00ca5374a7140df643035b1d5fa...,100972125,,2022-04
4375,other-crime,Force,"{'latitude': '52.632887', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",0ae883d698d60e4135ef79667eb799c8bbaa4c5fbbf0e8...,100970987,,2022-04

In [23]:
location_list = list(poly_test_df["location"])
poly_test_df = pd.concat([poly_test_df, pd.DataFrame(location_list)], axis = 1)

In [24]:
final_poly_df = poly_test_df[["category", "latitude", "longitude"]]

In [25]:
final_poly_df["city"] = "Leicester"

/tmp/ipykernel_5393/2473935748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_poly_df["city"] = "Leicester"

In [26]:
final_poly_df["date"] = poly_test_df["month"]

/tmp/ipykernel_5393/2910771465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_poly_df["date"] = poly_test_df["month"]

In [27]:
final_poly_df

                   category   latitude  longitude       city     date
0     anti-social-behaviour  52.620869  -1.092988  Leicester  2022-04
1     anti-social-behaviour  52.621192  -1.162424  Leicester  2022-04
2     anti-social-behaviour  52.639138  -1.137683  Leicester  2022-04
3     anti-social-behaviour  52.627058  -1.154260  Leicester  2022-04
4     anti-social-behaviour  52.636790  -1.131360  Leicester  2022-04
...                     ...        ...        ...        ...      ...
4371            other-crime  52.635767  -1.135267  Leicester  2022-04
4372            other-crime  52.641708  -1.092971  Leicester  2022-04
4373            other-crime  52.625777  -1.125181  Leicester  2022-04
4374            other-crime  52.639770  -1.188995  Leicester  2022-04
4375            other-crime  52.632887  -1.131127  Leicester  2022-04

[4376 rows x 5 columns]

In [29]:
final_poly_df.to_csv('/home/mih_sud/code/willbanny/Location-Analysis/crime_data/Leicester_Crime_Data.csv')

# Muliti-Town Test

In [30]:
location_df = pd.read_csv('/home/mih_sud/code/willbanny/Location-Analysis/raw_data/gb_towns_lat_lon_pop.csv')

## Triangle testing

In [31]:
latitude = [52.606, 52.574, 52.691] 
longitude = [-1.284, -1.043  -1.123]

In [44]:
location_df.head(50)

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,London,51.5072,-0.1275,United Kingdom,GB,"London, City of",primary,11262000,8825001
1,Birmingham,52.4800,-1.9025,United Kingdom,GB,Birmingham,NaN,2919600,1137100
2,Manchester,53.4794,-2.2453,United Kingdom,GB,Manchester,NaN,2705000,547627
3,Liverpool,53.4075,-2.9919,United Kingdom,GB,Liverpool,NaN,864122,513441
4,Portsmouth,50.8058,-1.0872,United Kingdom,GB,Portsmouth,NaN,855679,248440
5,Southampton,50.9025,-1.4042,United Kingdom,GB,Southampton,NaN,855569,271173
6,Nottingham,52.9533,-1.1500,United Kingdom,GB,Nottingham,NaN,768638,289301
7,Bristol,51.4536,-2.5975,United Kingdom,GB,"Bristol, City of",NaN,567111,567111
8,Leicester,52.6344,-1.1319,United Kingdom,GB,Leicester,NaN,508916,464395
9,Coventry,52.4081,-1.5106,United Kingdom,GB,Coventry,NaN,362690,362690
10,Belfast,54.5964,-5.9300,United Kingdom,GB,Belfast,NaN,333871,333871
11,Stockport,53.4083,-2.1494,United Kingdom,GB,Stockport,NaN,295200,295200
12,Bradford,53.8000,-1.7500,United Kingdom,GB,Bradford,NaN,293277,293277
13,Plymouth,50.3714,-4.1422,United Kingdom,GB,Plymouth,NaN,267918,267918
14,Derby,52.9217,-1.4767,United Kingdom,GB,Derby,NaN,255394,255394
15,Westminster,51.4947,-0.1353,United Kingdom,GB,Westminster,NaN,255324,255324
16,Wolverhampton,52.5833,-2.1333,United Kingdom,GB,Wolverhampton,NaN,250970,250970
17,Norwich,52.6286,1.2928,United Kingdom,GB,Norfolk,NaN,213166,195971
18,Luton,51.8783,-0.4147,United Kingdom,GB,Luton,NaN,213052,213052
19,Solihull,52.4130,-1.7780,United Kingdom,GB,Solihull,NaN,206674,206674
20,Islington,51.5440,-0.1027,United Kingdom,GB,Islington,NaN,206125,206125
21,Aberdeen,57.1500,-2.1100,United Kingdom,GB,Aberdeen City,NaN,200680,200680
22,Croydon,51.3727,-0.1099,United Kingdom,GB,Croydon,NaN,192064,192064
23,Bournemouth,50.7200,-1.8800,United Kingdom,GB,NaN,NaN,187503,187503
24,Basildon,51.5800,0.4900,United Kingdom,GB,Essex,NaN,185900,185900
25,Ilford,51.5575,0.0858,United Kingdom,GB,Redbridge,NaN,168168,168168
26,Warrington,53.3900,-2.5900,United Kingdom,GB,Warrington,NaN,165456,165456
27,Kingswood,51.4600,-2.5050,United Kingdom,GB,South Gloucestershire,NaN,160260,160260
28,Oxford,51.7519,-1.2578,United Kingdom,GB,Oxfordshire,NaN,152000,152000
29,Harrow,51.5836,-0.3464,United Kingdom,GB,Harrow,NaN,149246,149246
30,West Bromwich,52.5190,-1.9950,United Kingdom,GB,Sandwell,NaN,146386,146386
31,Gloucester,51.8644,-2.2444,United Kingdom,GB,Gloucestershire,NaN,145563,145563
32,Blackpool,53.8142,-3.0503,United Kingdom,GB,Blackpool,NaN,139305,139305
33,Sale,53.4240,-2.3220,United Kingdom,GB,Trafford,NaN,134022,134022
34,Tottenham,51.5975,-0.0681,United Kingdom,GB,Haringey,NaN,129237,129237
35,Cambridge,52.2053,0.1192,United Kingdom,GB,Cambridgeshire,NaN,123867,123867
36,Romford,51.5768,0.1801,United Kingdom,GB,Havering,NaN,122854,122854
37,Colchester,51.8917,0.9030,United Kingdom,GB,Essex,NaN,121859,121859
38,High Wycombe,51.6287,-0.7482,United Kingdom,GB,Buckinghamshire,NaN,120256,120256
39,Gateshead,54.9500,-1.6000,United Kingdom,GB,Gateshead,NaN,120046,120046
40,Slough,51.5084,-0.5881,United Kingdom,GB,Slough,NaN,119070,119070
41,Blackburn,53.7480,-2.4820,United Kingdom,GB,Blackburn with Darwen,NaN,117963,117963
42,Chelmsford,51.7300,0.4800,United Kingdom,GB,Essex,NaN,115369,115369
43,Rochdale,53.6136,-2.1610,United Kingdom,GB,Rochdale,NaN,110194,110194
44,Rotherham,53.4300,-1.3570,United Kingdom,GB,Rotherham,NaN,109691,109691
45,Walthamstow,51.5840,-0.0210,United Kingdom,GB,Waltham Forest,NaN,109424,109424
46,Maidstone,51.2720,0.5290,United Kingdom,GB,Kent,NaN,107627,107627
47,Basingstoke,51.2667,-1.0876,United Kingdom,GB,Hampshire,NaN,107355,107355
48,Salford,53.4830,-2.2931,United Kingdom,GB,Salford,NaN,103886,103886
49,Hounslow,51.4668,-0.3750,United Kingdom,GB,Hounslow,NaN,103337,103337

Calculate the relative distance of the Leicester triangle from the co-ordinates given by the location_df and write a function to ping the crime data for the rest of the UK using that distance.

In [35]:
lat = location_df[["lat"]]
lng = location_df[["lng"]]

In [61]:
r = 53.476328 - 53.409983

In [62]:
coordinate_A = pd.concat([(lat + 2*r), lng], axis = 1)
coordinate_B = pd.concat([(lat - r), (lng + (3**0.5)*r)], axis = 1)
coordinate_C = pd.concat([(lat - r), (lng + (3**0.5)*r)], axis = 1)

In [63]:
coordinate_A

          lat     lng
0    51.63989 -0.1275
1    52.61269 -1.9025
2    53.61209 -2.2453
3    53.54019 -2.9919
4    50.93849 -1.0872
..        ...     ...
675  55.01369 -1.5340
676  56.20269 -3.1700
677  51.18519 -4.1945
678  54.12469 -1.0724
679  52.75269 -2.1130

[680 rows x 2 columns]

In [64]:
coordinate_A["lat"][2]

53.61209000000001

In [65]:
coordinate_B

           lat       lng
0    51.440855 -0.012587
1    52.413655 -1.787587
2    53.413055 -2.130387
3    53.341155 -2.876987
4    50.739455 -0.972287
..         ...       ...
675  54.814655 -1.419087
676  56.003655 -3.055087
677  50.986155 -4.079587
678  53.925655 -0.957487
679  52.553655 -1.998087

[680 rows x 2 columns]

In [ ]:
test_url_Manchester = f'

## Data Set Concatanation

In [256]:
csv_list =     ["2023-04-avon-and-somerset-street.csv",
                "2023-04-bedfordshire-street.csv",
                "2023-04-cambridgeshire-street.csv",
                "2023-04-cheshire-street.csv",
                "2023-04-city-of-london-street.csv",
                "2023-04-cleveland-street.csv",
                "2023-04-cumbria-street.csv",
                "2023-04-derbyshire-street.csv",
                "2023-04-dorset-street.csv",
                "2023-04-durham-street.csv",
                "2023-04-essex-street.csv",
                "2023-04-gloucestershire-street.csv",
                "2023-04-hampshire-street.csv",
                "2023-04-hertfordshire-street.csv",
                "2023-04-humberside-street.csv",
                "2023-04-kent-street.csv",
                "2023-04-lancashire-street.csv",
                "2023-04-leicestershire-street.csv",
                "2023-04-merseyside-street.csv",
                "2023-04-metropolitan-street.csv",
                "2023-04-norfolk-street.csv",
                "2023-04-northamptonshire-street.csv",
                "2023-04-northumbria-street.csv",
                "2023-04-north-yorkshire-street.csv",
                "2023-04-nottinghamshire-street.csv",
                "2023-04-south-yorkshire-street.csv",
                "2023-04-staffordshire-street.csv",
                "2023-04-suffolk-street.csv",
                "2023-04-surrey-street.csv",
                "2023-04-thames-valley-street.csv",
                "2023-04-warwickshire-street.csv",
                "2023-04-west-mercia-street.csv",
                "2023-04-west-midlands-street.csv",
                "2023-04-west-yorkshire-street.csv",
                "2023-04-wiltshire-street.csv"
               ]

In [96]:
csv_counter = 0
for csv in csv_list:
    if csv_counter == 0:
        all_police_df = pd.read_csv(f'/home/mih_sud/code/Mih-Sud/2023-04/{csv}')
    else: 
        test_police_df =  pd.read_csv(f'/home/mih_sud/code/Mih-Sud/2023-04/{csv}')
        all_police_df = pd.concat([all_police_df, test_police_df], ignore_index = True)
    csv_counter += 1

In [162]:
all_police_df.iloc[45980:45990]

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
45980,30a07fa47689c2e7c3c954655b098ed60bf8d43c5e61f5...,2023-04,Cumbria Constabulary,Cumbria Constabulary,1.229179,52.486559,On or near Welholme'S Close,E01026940,South Norfolk 011F,Violence and sexual offences,Under investigation,NaN
45981,663b6049fd1ed152a54aebee965d95e6f37c2f89a5e7f3...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-1.541177,52.267714,On or near Portia Way,E01031315,Warwick 012A,Vehicle crime,Under investigation,NaN
45982,23337ea05916975c6b7099bc6654a5d0b7da4b324e5b8e...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-5.719564,54.325094,On or near Market Street,NaN,NaN,Violence and sexual offences,Under investigation,NaN
45983,afae6dba85a2d8a8e91f70deb3ad9cf340f44907e03694...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-5.719564,54.325094,On or near Market Street,NaN,NaN,Violence and sexual offences,Under investigation,NaN
45984,54fe9dd4071abfe602b50f7607ed2f38fe46670e2c0a6e...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-5.719564,54.325094,On or near Market Street,NaN,NaN,Violence and sexual offences,Under investigation,NaN
45985,NaN,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.375754,53.098772,On or near Mansfield Road,E01019400,Amber Valley 001A,Anti-social behaviour,NaN,NaN
45986,7a1c45a25717ada138f358ecba402f3cbf3046105f78e7...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.376378,53.096942,On or near Preston Avenue,E01019400,Amber Valley 001A,Burglary,Under investigation,NaN
45987,b3c26c7df73f500ddc96338f0ac480b73387a6c0761855...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.373360,53.097025,On or near Milton Avenue,E01019400,Amber Valley 001A,Criminal damage and arson,Unable to prosecute suspect,NaN
45988,d90c989ff7f4f08873c74490bd28558d50968c8ea23e69...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.373582,53.099210,On or near Catherine Street,E01019400,Amber Valley 001A,Criminal damage and arson,Under investigation,NaN
45989,61c0034803742dac559788f8f5f484c5734ce61f7a8feb...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.376378,53.096942,On or near Preston Avenue,E01019400,Amber Valley 001A,Criminal damage and arson,Unable to prosecute suspect,NaN

In [170]:
#Select the columns I want for the crime dataset 
crime_data_df = all_police_df[["LSOA code", "LSOA name", "Crime type", "Longitude", "Latitude", "Month"]]

In [171]:
crime_data_df["Longitude"].isnull().value_counts()

Longitude
False    434907
True       7019
Name: count, dtype: int64

In [172]:
#delete rows where the coordiantes aren't present
crime_data_df = crime_data_df.dropna(subset= "Longitude")

In [173]:
#Create a CrimeID
crime_data_df = crime_data_df.reset_index()
crime_data_df["CrimeID"] = "c" + crime_data_df["index"].astype(str)
crime_data_df.drop(columns = ["index"], inplace = True)

In [174]:
#Rename Month to Date 
crime_data_df.rename(columns={"Month": "Date"}, inplace = True)

In [175]:
crime_data_df.isnull().value_counts()

LSOA code  LSOA name  Crime type  Longitude  Latitude  Date   CrimeID
False      False      False       False      False     False  False      434903
True       True       False       False      False     False  False           4
Name: count, dtype: int64

In [176]:
crime_data_df.dropna(subset= "LSOA code", inplace = True)

In [177]:
crime_data_df

,LSOA code,LSOA name,Crime type,Longitude,Latitude,Date,CrimeID
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4
...,...,...,...,...,...,...,...
434902,E01031995,Wiltshire 062E,Drugs,-1.761611,51.018363,2023-04,c441921
434903,E01031995,Wiltshire 062E,Other theft,-1.729780,51.015219,2023-04,c441922
434904,E01031995,Wiltshire 062E,Public order,-1.759562,50.992704,2023-04,c441923
434905,E01031995,Wiltshire 062E,Shoplifting,-1.759022,50.994660,2023-04,c441924
434906,E01031995,Wiltshire 062E,Violence and sexual offences,-1.748516,50.993355,2023-04,c441925

In [178]:
crime_data_df.to_csv('/home/mih_sud/code/willbanny//Location-Analysis/raw_data/Total_Crime_Date_2023_04.csv')

# Adding Districts to the Crime Dataset

In [179]:
LSOA_Local_Authorities_df = pd.read_csv('/home/mih_sud/code/willbanny/Location-Analysis/raw_data/LSOA_(2011)_to_LSOA_(2021)_to_Local_Authority_District_(2022)_Lookup_for_England_and_Wales_(Version_2).csv')

In [180]:
LSOA_Local_Authorities_df[]

,LSOA11CD,LSOA11NM,LSOA21CD,LSOA21NM,CHGIND,LAD22CD,LAD22NM,LAD22NMW,ObjectId
0,E01000001,City of London 001A,E01000001,City of London 001A,U,E09000001,City of London,NaN,1
1,E01000002,City of London 001B,E01000002,City of London 001B,U,E09000001,City of London,NaN,2
2,E01000003,City of London 001C,E01000003,City of London 001C,U,E09000001,City of London,NaN,3
3,E01000005,City of London 001E,E01000005,City of London 001E,U,E09000001,City of London,NaN,4
4,E01000006,Barking and Dagenham 016A,E01000006,Barking and Dagenham 016A,U,E09000002,Barking and Dagenham,NaN,5
...,...,...,...,...,...,...,...,...,...
35791,W01000902,Neath Port Talbot 006A,W01001985,Neath Port Talbot 006F,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35792
35792,W01000903,Neath Port Talbot 006B,W01001985,Neath Port Talbot 006F,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35793
35793,W01000906,Neath Port Talbot 007A,W01001986,Neath Port Talbot 007E,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35794
35794,W01000923,Neath Port Talbot 007D,W01001986,Neath Port Talbot 007E,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35795
35795,W01000917,Neath Port Talbot 010F,W01001987,Neath Port Talbot 010G,S,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35796

In [193]:
joining_df = LSOA_Local_Authorities_df[["LSOA11CD",  "LAD22NM", "LAD22CD"]]
joining_df

        LSOA11CD               LAD22NM    LAD22CD
0      E01000001        City of London  E09000001
1      E01000002        City of London  E09000001
2      E01000003        City of London  E09000001
3      E01000005        City of London  E09000001
4      E01000006  Barking and Dagenham  E09000002
...          ...                   ...        ...
35791  W01000902     Neath Port Talbot  W06000012
35792  W01000903     Neath Port Talbot  W06000012
35793  W01000906     Neath Port Talbot  W06000012
35794  W01000923     Neath Port Talbot  W06000012
35795  W01000917     Neath Port Talbot  W06000012

[35796 rows x 3 columns]

In [194]:
joining_df.rename(columns= {"LSOA11CD" : "LSOA code"}, inplace = True)

/tmp/ipykernel_5393/498290715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joining_df.rename(columns= {"LSOA11CD" : "LSOA code"}, inplace = True)

In [195]:
joining_df

       LSOA code               LAD22NM    LAD22CD
0      E01000001        City of London  E09000001
1      E01000002        City of London  E09000001
2      E01000003        City of London  E09000001
3      E01000005        City of London  E09000001
4      E01000006  Barking and Dagenham  E09000002
...          ...                   ...        ...
35791  W01000902     Neath Port Talbot  W06000012
35792  W01000903     Neath Port Talbot  W06000012
35793  W01000906     Neath Port Talbot  W06000012
35794  W01000923     Neath Port Talbot  W06000012
35795  W01000917     Neath Port Talbot  W06000012

[35796 rows x 3 columns]

In [230]:
merged_crime_df = crime_data_df.merge(joining_df, how = 'left', on = "LSOA code")

In [231]:
merged_crime_df.head()

,LSOA code,LSOA name,Crime type,Longitude,Latitude,Date,CrimeID,LAD22NM,LAD22CD
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0,Bath and North East Somerset,E06000022
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1,Bath and North East Somerset,E06000022
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2,Bath and North East Somerset,E06000022
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3,Bath and North East Somerset,E06000022
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4,Bath and North East Somerset,E06000022

In [232]:
merged_crime_df.rename(columns= {"LSOA code" : "LSOA ID", "LAD22NM" : "District Name", "LAD22CD" : "District ID", "CrimeID" : "Crime ID"}, inplace = True)

In [233]:
merged_crime_df

,LSOA ID,LSOA name,Crime type,Longitude,Latitude,Date,Crime ID,District Name,District ID
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0,Bath and North East Somerset,E06000022
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1,Bath and North East Somerset,E06000022
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2,Bath and North East Somerset,E06000022
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3,Bath and North East Somerset,E06000022
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4,Bath and North East Somerset,E06000022
...,...,...,...,...,...,...,...,...,...
476427,E01031995,Wiltshire 062E,Drugs,-1.761611,51.018363,2023-04,c441921,Wiltshire,E06000054
476428,E01031995,Wiltshire 062E,Other theft,-1.729780,51.015219,2023-04,c441922,Wiltshire,E06000054
476429,E01031995,Wiltshire 062E,Public order,-1.759562,50.992704,2023-04,c441923,Wiltshire,E06000054
476430,E01031995,Wiltshire 062E,Shoplifting,-1.759022,50.994660,2023-04,c441924,Wiltshire,E06000054
476431,E01031995,Wiltshire 062E,Violence and sexual offences,-1.748516,50.993355,2023-04,c441925,Wiltshire,E06000054

In [244]:
merged_crime_df.drop_duplicates(subset = "Crime ID", inplace = True)

In [245]:
merged_crime_df["Crime ID"].value_counts().value_counts()

count
1    434903
Name: count, dtype: int64

In [242]:
crime_data_df["CrimeID"].value_counts().value_counts()

count
1    434903
Name: count, dtype: int64

In [246]:
merged_crime_df.to_csv('/home/mih_sud/code/willbanny//Location-Analysis/raw_data/Total_Crime_Data_2023_04.csv')

# Grouping Crime by District

In [253]:
merged_crime_df["District ID"]

0         E06000022
1         E06000022
2         E06000022
3         E06000022
4         E06000022
            ...
476427    E06000054
476428    E06000054
476429    E06000054
476430    E06000054
476431    E06000054
Name: District ID, Length: 434903, dtype: object

In [260]:
coordinates_df = pd.read_csv("/home/mih_sud/code/willbanny/Location-Analysis/raw_data/Untitled spreadsheet - district_grid_coords.csv")

In [265]:
coordinates_df["District"]

0           Gloucester District (B)
1           Gloucester District (B)
2           Gloucester District (B)
3           Gloucester District (B)
4           Gloucester District (B)
                   ...
495    Newark and Sherwood District
496    Newark and Sherwood District
497    Newark and Sherwood District
498    Newark and Sherwood District
499    Newark and Sherwood District
Name: District, Length: 500, dtype: object

In [ ]:
coordinates_df[coordinates_df["District"] == Leicester]

In [ ]:
distance.distance(coordinates[])