# Imports

In [55]:
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
import requests
import geopy.distance as GD

# Single Town Test

In [2]:
url = 'https://data.police.uk/api/crimes-street/all-crime?lat=52.639969&lng=-1.129966&date=2022-04'

## Co-ordinate Pair Test

In [3]:
response = requests.get(url)

In [4]:
test_df = pd.DataFrame(response.json())

In [5]:
test_df

,category,location_type,location,context,outcome_status,persistent_id,id,location_subtype,month
0,anti-social-behaviour,Force,"{'latitude': '52.641197', 'street': {'id': 884...",,None,,100980040,,2022-04
1,anti-social-behaviour,Force,"{'latitude': '52.637674', 'street': {'id': 883...",,None,,100979863,,2022-04
2,anti-social-behaviour,Force,"{'latitude': '52.636110', 'street': {'id': 883...",,None,,100979889,,2022-04
3,anti-social-behaviour,Force,"{'latitude': '52.637712', 'street': {'id': 883...",,None,,100980154,,2022-04
4,anti-social-behaviour,Force,"{'latitude': '52.636721', 'street': {'id': 883...",,None,,100979453,,2022-04
...,...,...,...,...,...,...,...,...,...
1399,other-crime,Force,"{'latitude': '52.643565', 'street': {'id': 884...",,{'category': 'Investigation complete; no suspe...,979e392444566adb825bfbf2afe00e4fb7a6d6d0bcd35f...,100976746,,2022-04
1400,other-crime,Force,"{'latitude': '52.632887', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",0ae883d698d60e4135ef79667eb799c8bbaa4c5fbbf0e8...,100970987,,2022-04
1401,other-crime,Force,"{'latitude': '52.637432', 'street': {'id': 883...",,{'category': 'Investigation complete; no suspe...,437bf7739108ff2893f9c0b16eb754cf0c837de35b4127...,100977254,,2022-04
1402,other-crime,Force,"{'latitude': '52.643222', 'street': {'id': 884...",,"{'category': 'Unable to prosecute suspect', 'd...",d58d6ea1f30241da01d698da7fd5e81fecd23321c6db24...,100974184,,2022-04
1403,other-crime,Force,"{'latitude': '52.633190', 'street': {'id': 883...",,"{'category': 'Unable to prosecute suspect', 'd...",63813be002e20624fe3d8fe4abfab8a7bcbcd03e36f71b...,100977746,,2022-04

In [6]:
crime_category = test_df[['category']]

In [7]:
crime_category.value_counts()

category
violent-crime            484
public-order             222
other-theft              130
anti-social-behaviour    106
shoplifting               96
criminal-damage-arson     65
bicycle-theft             59
drugs                     50
burglary                  44
vehicle-crime             39
theft-from-the-person     36
possession-of-weapons     27
robbery                   25
other-crime               21
Name: count, dtype: int64

In [8]:
location = test_df[["location"]]

In [9]:
location["location"][0]["longitude"]

'-1.129100'

In [10]:
location.isnull().sum()

location    0
dtype: int64

In [11]:
location["location"][0]["latitude"]

'52.641197'

In [ ]:
test_dict = location["location"][0]

In [ ]:
loc_test_df = test_df.copy()

In [ ]:
location_list = list(location["location"])
loc_test_df = pd.concat([loc_test_df, pd.DataFrame(location_list)], axis = 1)

In [ ]:
loc_test_df[["longitude"]].min()

In [ ]:
loc_test_df[["longitude"]].max()

In [ ]:
loc_test_df[["latitude"]].min()

In [ ]:
loc_test_df[["latitude"]].max()

In [ ]:
loc_test_df

## Poly-Coordinate Test

In [ ]:
url_poly = 'https://data.police.uk/api/crimes-street/all-crime?poly=52.606,-1.284:52.574,-1.043:52.691,-1.123&date=2022-04'

In [ ]:
response_poly = requests.get(url_poly)

In [ ]:
poly_test_df = pd.DataFrame(response_poly.json())

In [ ]:
poly_test_df

In [ ]:
location_list = list(poly_test_df["location"])
poly_test_df = pd.concat([poly_test_df, pd.DataFrame(location_list)], axis = 1)

In [ ]:
final_poly_df = poly_test_df[["category", "latitude", "longitude"]]

In [ ]:
final_poly_df["city"] = "Leicester"

In [ ]:
final_poly_df["date"] = poly_test_df["month"]

In [ ]:
final_poly_df

In [ ]:
final_poly_df.to_csv('/home/mih_sud/code/willbanny/Location-Analysis/crime_data/Leicester_Crime_Data.csv')

# Muliti-Town Test

In [ ]:
location_df = pd.read_csv('/home/mih_sud/code/willbanny/Location-Analysis/raw_data/gb_towns_lat_lon_pop.csv')

## Triangle testing

In [ ]:
latitude = [52.606, 52.574, 52.691] 
longitude = [-1.284, -1.043  -1.123]

In [ ]:
location_df.head(50)

Calculate the relative distance of the Leicester triangle from the co-ordinates given by the location_df and write a function to ping the crime data for the rest of the UK using that distance.

In [ ]:
lat = location_df[["lat"]]
lng = location_df[["lng"]]

In [ ]:
r = 53.476328 - 53.409983

In [ ]:
coordinate_A = pd.concat([(lat + 2*r), lng], axis = 1)
coordinate_B = pd.concat([(lat - r), (lng + (3**0.5)*r)], axis = 1)
coordinate_C = pd.concat([(lat - r), (lng + (3**0.5)*r)], axis = 1)

In [ ]:
coordinate_A

In [ ]:
coordinate_A["lat"][2]

In [ ]:
coordinate_B

In [ ]:
test_url_Manchester = f'

## Data Set Concatanation

In [12]:
csv_list =     ["2023-04-avon-and-somerset-street.csv",
                "2023-04-bedfordshire-street.csv",
                "2023-04-cambridgeshire-street.csv",
                "2023-04-cheshire-street.csv",
                "2023-04-city-of-london-street.csv",
                "2023-04-cleveland-street.csv",
                "2023-04-cumbria-street.csv",
                "2023-04-derbyshire-street.csv",
                "2023-04-dorset-street.csv",
                "2023-04-durham-street.csv",
                "2023-04-essex-street.csv",
                "2023-04-gloucestershire-street.csv",
                "2023-04-hampshire-street.csv",
                "2023-04-hertfordshire-street.csv",
                "2023-04-humberside-street.csv",
                "2023-04-kent-street.csv",
                "2023-04-lancashire-street.csv",
                "2023-04-leicestershire-street.csv",
                "2023-04-merseyside-street.csv",
                "2023-04-metropolitan-street.csv",
                "2023-04-norfolk-street.csv",
                "2023-04-northamptonshire-street.csv",
                "2023-04-northumbria-street.csv",
                "2023-04-north-yorkshire-street.csv",
                "2023-04-nottinghamshire-street.csv",
                "2023-04-south-yorkshire-street.csv",
                "2023-04-staffordshire-street.csv",
                "2023-04-suffolk-street.csv",
                "2023-04-surrey-street.csv",
                "2023-04-thames-valley-street.csv",
                "2023-04-warwickshire-street.csv",
                "2023-04-west-mercia-street.csv",
                "2023-04-west-midlands-street.csv",
                "2023-04-west-yorkshire-street.csv",
                "2023-04-wiltshire-street.csv"
               ]

In [13]:
csv_counter = 0
for csv in csv_list:
    if csv_counter == 0:
        all_police_df = pd.read_csv(f'/home/mih_sud/code/Mih-Sud/2023-04/{csv}')
    else: 
        test_police_df =  pd.read_csv(f'/home/mih_sud/code/Mih-Sud/2023-04/{csv}')
        all_police_df = pd.concat([all_police_df, test_police_df], ignore_index = True)
    csv_counter += 1

In [14]:
all_police_df.iloc[45980:45990]

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
45980,30a07fa47689c2e7c3c954655b098ed60bf8d43c5e61f5...,2023-04,Cumbria Constabulary,Cumbria Constabulary,1.229179,52.486559,On or near Welholme'S Close,E01026940,South Norfolk 011F,Violence and sexual offences,Under investigation,NaN
45981,663b6049fd1ed152a54aebee965d95e6f37c2f89a5e7f3...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-1.541177,52.267714,On or near Portia Way,E01031315,Warwick 012A,Vehicle crime,Under investigation,NaN
45982,23337ea05916975c6b7099bc6654a5d0b7da4b324e5b8e...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-5.719564,54.325094,On or near Market Street,NaN,NaN,Violence and sexual offences,Under investigation,NaN
45983,afae6dba85a2d8a8e91f70deb3ad9cf340f44907e03694...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-5.719564,54.325094,On or near Market Street,NaN,NaN,Violence and sexual offences,Under investigation,NaN
45984,54fe9dd4071abfe602b50f7607ed2f38fe46670e2c0a6e...,2023-04,Cumbria Constabulary,Cumbria Constabulary,-5.719564,54.325094,On or near Market Street,NaN,NaN,Violence and sexual offences,Under investigation,NaN
45985,NaN,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.375754,53.098772,On or near Mansfield Road,E01019400,Amber Valley 001A,Anti-social behaviour,NaN,NaN
45986,7a1c45a25717ada138f358ecba402f3cbf3046105f78e7...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.376378,53.096942,On or near Preston Avenue,E01019400,Amber Valley 001A,Burglary,Under investigation,NaN
45987,b3c26c7df73f500ddc96338f0ac480b73387a6c0761855...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.373360,53.097025,On or near Milton Avenue,E01019400,Amber Valley 001A,Criminal damage and arson,Unable to prosecute suspect,NaN
45988,d90c989ff7f4f08873c74490bd28558d50968c8ea23e69...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.373582,53.099210,On or near Catherine Street,E01019400,Amber Valley 001A,Criminal damage and arson,Under investigation,NaN
45989,61c0034803742dac559788f8f5f484c5734ce61f7a8feb...,2023-04,Derbyshire Constabulary,Derbyshire Constabulary,-1.376378,53.096942,On or near Preston Avenue,E01019400,Amber Valley 001A,Criminal damage and arson,Unable to prosecute suspect,NaN

In [15]:
#Select the columns I want for the crime dataset 
crime_data_df = all_police_df[["LSOA code", "LSOA name", "Crime type", "Longitude", "Latitude", "Month"]]

In [16]:
crime_data_df["Longitude"].isnull().value_counts()

Longitude
False    434907
True       7019
Name: count, dtype: int64

In [17]:
#delete rows where the coordiantes aren't present
crime_data_df = crime_data_df.dropna(subset= "Longitude")

In [18]:
#Create a CrimeID
crime_data_df = crime_data_df.reset_index()
crime_data_df["CrimeID"] = "c" + crime_data_df["index"].astype(str)
crime_data_df.drop(columns = ["index"], inplace = True)

In [19]:
#Rename Month to Date 
crime_data_df.rename(columns={"Month": "Date"}, inplace = True)

In [20]:
crime_data_df.isnull().value_counts()

LSOA code  LSOA name  Crime type  Longitude  Latitude  Date   CrimeID
False      False      False       False      False     False  False      434903
True       True       False       False      False     False  False           4
Name: count, dtype: int64

In [21]:
crime_data_df.dropna(subset= "LSOA code", inplace = True)

In [22]:
crime_data_df

,LSOA code,LSOA name,Crime type,Longitude,Latitude,Date,CrimeID
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4
...,...,...,...,...,...,...,...
434902,E01031995,Wiltshire 062E,Drugs,-1.761611,51.018363,2023-04,c441921
434903,E01031995,Wiltshire 062E,Other theft,-1.729780,51.015219,2023-04,c441922
434904,E01031995,Wiltshire 062E,Public order,-1.759562,50.992704,2023-04,c441923
434905,E01031995,Wiltshire 062E,Shoplifting,-1.759022,50.994660,2023-04,c441924
434906,E01031995,Wiltshire 062E,Violence and sexual offences,-1.748516,50.993355,2023-04,c441925

In [23]:
crime_data_df.to_csv('/home/mih_sud/code/willbanny//Location-Analysis/raw_data/Total_Crime_Date_2023_04.csv')

# Adding Districts to the Crime Dataset

In [24]:
LSOA_Local_Authorities_df = pd.read_csv('/home/mih_sud/code/willbanny/Location-Analysis/raw_data/LSOA_(2011)_to_LSOA_(2021)_to_Local_Authority_District_(2022)_Lookup_for_England_and_Wales_(Version_2).csv')

In [27]:
LSOA_Local_Authorities_df

,LSOA11CD,LSOA11NM,LSOA21CD,LSOA21NM,CHGIND,LAD22CD,LAD22NM,LAD22NMW,ObjectId
0,E01000001,City of London 001A,E01000001,City of London 001A,U,E09000001,City of London,NaN,1
1,E01000002,City of London 001B,E01000002,City of London 001B,U,E09000001,City of London,NaN,2
2,E01000003,City of London 001C,E01000003,City of London 001C,U,E09000001,City of London,NaN,3
3,E01000005,City of London 001E,E01000005,City of London 001E,U,E09000001,City of London,NaN,4
4,E01000006,Barking and Dagenham 016A,E01000006,Barking and Dagenham 016A,U,E09000002,Barking and Dagenham,NaN,5
...,...,...,...,...,...,...,...,...,...
35791,W01000902,Neath Port Talbot 006A,W01001985,Neath Port Talbot 006F,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35792
35792,W01000903,Neath Port Talbot 006B,W01001985,Neath Port Talbot 006F,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35793
35793,W01000906,Neath Port Talbot 007A,W01001986,Neath Port Talbot 007E,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35794
35794,W01000923,Neath Port Talbot 007D,W01001986,Neath Port Talbot 007E,M,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35795
35795,W01000917,Neath Port Talbot 010F,W01001987,Neath Port Talbot 010G,S,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,35796

In [28]:
joining_df = LSOA_Local_Authorities_df[["LSOA11CD",  "LAD22NM", "LAD22CD"]]
joining_df

        LSOA11CD               LAD22NM    LAD22CD
0      E01000001        City of London  E09000001
1      E01000002        City of London  E09000001
2      E01000003        City of London  E09000001
3      E01000005        City of London  E09000001
4      E01000006  Barking and Dagenham  E09000002
...          ...                   ...        ...
35791  W01000902     Neath Port Talbot  W06000012
35792  W01000903     Neath Port Talbot  W06000012
35793  W01000906     Neath Port Talbot  W06000012
35794  W01000923     Neath Port Talbot  W06000012
35795  W01000917     Neath Port Talbot  W06000012

[35796 rows x 3 columns]

In [29]:
joining_df.rename(columns= {"LSOA11CD" : "LSOA code"}, inplace = True)

/tmp/ipykernel_4704/498290715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joining_df.rename(columns= {"LSOA11CD" : "LSOA code"}, inplace = True)

In [30]:
joining_df

       LSOA code               LAD22NM    LAD22CD
0      E01000001        City of London  E09000001
1      E01000002        City of London  E09000001
2      E01000003        City of London  E09000001
3      E01000005        City of London  E09000001
4      E01000006  Barking and Dagenham  E09000002
...          ...                   ...        ...
35791  W01000902     Neath Port Talbot  W06000012
35792  W01000903     Neath Port Talbot  W06000012
35793  W01000906     Neath Port Talbot  W06000012
35794  W01000923     Neath Port Talbot  W06000012
35795  W01000917     Neath Port Talbot  W06000012

[35796 rows x 3 columns]

In [31]:
merged_crime_df = crime_data_df.merge(joining_df, how = 'left', on = "LSOA code")

In [32]:
merged_crime_df.head()

,LSOA code,LSOA name,Crime type,Longitude,Latitude,Date,CrimeID,LAD22NM,LAD22CD
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0,Bath and North East Somerset,E06000022
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1,Bath and North East Somerset,E06000022
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2,Bath and North East Somerset,E06000022
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3,Bath and North East Somerset,E06000022
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4,Bath and North East Somerset,E06000022

In [33]:
merged_crime_df.rename(columns= {"LSOA code" : "LSOA ID", "LAD22NM" : "District Name", "LAD22CD" : "District ID", "CrimeID" : "Crime ID"}, inplace = True)

In [34]:
merged_crime_df

,LSOA ID,LSOA name,Crime type,Longitude,Latitude,Date,Crime ID,District Name,District ID
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0,Bath and North East Somerset,E06000022
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1,Bath and North East Somerset,E06000022
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2,Bath and North East Somerset,E06000022
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3,Bath and North East Somerset,E06000022
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4,Bath and North East Somerset,E06000022
...,...,...,...,...,...,...,...,...,...
476427,E01031995,Wiltshire 062E,Drugs,-1.761611,51.018363,2023-04,c441921,Wiltshire,E06000054
476428,E01031995,Wiltshire 062E,Other theft,-1.729780,51.015219,2023-04,c441922,Wiltshire,E06000054
476429,E01031995,Wiltshire 062E,Public order,-1.759562,50.992704,2023-04,c441923,Wiltshire,E06000054
476430,E01031995,Wiltshire 062E,Shoplifting,-1.759022,50.994660,2023-04,c441924,Wiltshire,E06000054
476431,E01031995,Wiltshire 062E,Violence and sexual offences,-1.748516,50.993355,2023-04,c441925,Wiltshire,E06000054

In [82]:
merged_crime_df.columns

Index(['LSOA ID', 'LSOA name', 'Crime type', 'Longitude', 'Latitude', 'Date',
       'Crime ID', 'District Name', 'District ID'],
      dtype='object')

In [83]:
merged_crime_df['Crime type']

0            Criminal damage and arson
1                          Other theft
2                         Public order
3                         Public order
4         Violence and sexual offences
                      ...
476427                           Drugs
476428                     Other theft
476429                    Public order
476430                     Shoplifting
476431    Violence and sexual offences
Name: Crime type, Length: 434903, dtype: object

In [35]:
merged_crime_df.drop_duplicates(subset = "Crime ID", inplace = True)

In [36]:
merged_crime_df["Crime ID"].value_counts().value_counts()

count
1    434903
Name: count, dtype: int64

In [37]:
crime_data_df["CrimeID"].value_counts().value_counts()

count
1    434903
Name: count, dtype: int64

In [38]:
merged_crime_df.to_csv('/home/mih_sud/code/willbanny//Location-Analysis/raw_data/Total_Crime_Data_2023_04.csv')

# Grouping Crime by District

In [80]:
merged_crime_df

,LSOA ID,LSOA name,Crime type,Longitude,Latitude,Date,Crime ID,District Name,District ID
0,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,-2.513516,51.408799,2023-04,c0,Bath and North East Somerset,E06000022
1,E01014399,Bath and North East Somerset 001A,Other theft,-2.492876,51.422716,2023-04,c1,Bath and North East Somerset,E06000022
2,E01014399,Bath and North East Somerset 001A,Public order,-2.508867,51.416147,2023-04,c2,Bath and North East Somerset,E06000022
3,E01014399,Bath and North East Somerset 001A,Public order,-2.511746,51.409957,2023-04,c3,Bath and North East Somerset,E06000022
4,E01014399,Bath and North East Somerset 001A,Violence and sexual offences,-2.491616,51.424619,2023-04,c4,Bath and North East Somerset,E06000022
...,...,...,...,...,...,...,...,...,...
476427,E01031995,Wiltshire 062E,Drugs,-1.761611,51.018363,2023-04,c441921,Wiltshire,E06000054
476428,E01031995,Wiltshire 062E,Other theft,-1.729780,51.015219,2023-04,c441922,Wiltshire,E06000054
476429,E01031995,Wiltshire 062E,Public order,-1.759562,50.992704,2023-04,c441923,Wiltshire,E06000054
476430,E01031995,Wiltshire 062E,Shoplifting,-1.759022,50.994660,2023-04,c441924,Wiltshire,E06000054
476431,E01031995,Wiltshire 062E,Violence and sexual offences,-1.748516,50.993355,2023-04,c441925,Wiltshire,E06000054

In [81]:
merged_crime_df[merged_crime_df["District Name"] == 'Leicester']

,LSOA ID,LSOA name,Crime type,Longitude,Latitude,Date,Crime ID,District Name,District ID
169738,E01013615,Leicester 001A,Anti-social behaviour,-1.150607,52.685997,2023-04,c156519,Leicester,E06000016
169739,E01013615,Leicester 001A,Anti-social behaviour,-1.161472,52.676419,2023-04,c156520,Leicester,E06000016
169740,E01013615,Leicester 001A,Other theft,-1.150682,52.683660,2023-04,c156521,Leicester,E06000016
169741,E01013615,Leicester 001A,Public order,-1.161472,52.676419,2023-04,c156522,Leicester,E06000016
169742,E01013615,Leicester 001A,Public order,-1.161472,52.676419,2023-04,c156523,Leicester,E06000016
...,...,...,...,...,...,...,...,...,...
174817,E01032873,Leicester 041D,Other crime,-1.128191,52.634169,2023-04,c160724,Leicester,E06000016
329985,E01013605,Leicester 003F,Violence and sexual offences,-1.132326,52.655937,2023-04,c303101,Leicester,E06000016
329986,E01013605,Leicester 003F,Violence and sexual offences,-1.132326,52.655937,2023-04,c303102,Leicester,E06000016
329987,E01013605,Leicester 003F,Violence and sexual offences,-1.132326,52.655937,2023-04,c303103,Leicester,E06000016
329988,E01032873,Leicester 041D,Violence and sexual offences,-1.123241,52.633431,2023-04,c303104,Leicester,E06000016

In [39]:
coordinates_df = pd.read_csv("/home/mih_sud/code/willbanny/Location-Analysis/raw_data/district_coordiantes.csv")

In [41]:
coordinates_df

,District,Description,POLYGON_ID,GridName,Longitude,Latitude
0,Gloucester District (B),District,57524,Grid3_0,-2.250342,51.880718
1,Gloucester District (B),District,57524,Grid4_0,-2.235767,51.880718
2,Gloucester District (B),District,57524,Grid5_0,-2.221192,51.880718
3,Gloucester District (B),District,57524,Grid6_0,-2.206616,51.880718
4,Gloucester District (B),District,57524,Grid7_0,-2.192041,51.880718
...,...,...,...,...,...,...
264824,Bury District (B),Metropolitan District,56616,Grid5_16,-2.300228,53.518594
264825,Bury District (B),Metropolitan District,56616,Grid6_16,-2.285096,53.518594
264826,Bury District (B),Metropolitan District,56616,Grid7_16,-2.269963,53.518594
264827,Bury District (B),Metropolitan District,56616,Grid8_16,-2.254831,53.518594
264828,Bury District (B),Metropolitan District,56616,Grid6_17,-2.285117,53.509596

In [50]:
coordinates_df["District"].value_counts().iloc[250:300]

District
Torbay (B)                            149
Hillingdon London Boro                148
Erewash District (B)                  147
Newcastle upon Tyne District (B)      145
Ashfield District                     145
Basildon District (B)                 143
Blaenau Gwent - Blaenau Gwent         143
Burnley District (B)                  142
Thanet District                       140
Trafford District (B)                 139
Dudley District (B)                   137
Salford District (B)                  137
Gravesham District (B)                136
Walsall District (B)                  136
Hertsmere District (B)                133
Bury District (B)                     131
Coventry District (B)                 130
Hartlepool (B)                        130
City of Stoke-on-Trent (B)            129
Tameside District (B)                 128
Three Rivers District                 128
Surrey Heath District (B)             126
Eastleigh District (B)                124
Elmbridge District (B)                122
Halton (B)                            121
Knowsley District (B)                 121
The City of Brighton and Hove (B)     117
Croydon London Boro                   117
Sandwell District (B)                 116
City of Plymouth (B)                  115
North Tyneside District (B)           115
Broxtowe District (B)                 115
Barnet London Boro                    112
Havant District (B)                   109
Nuneaton and Bedworth District (B)    106
City of Kingston upon Hull (B)        106
Mansfield District                    105
Cannock Chase District                105
Enfield London Boro                   105
City of Derby (B)                     104
Fareham District (B)                  104
Runnymede District (B)                104
Dartford District (B)                 103
City of Nottingham (B)                103
City of Leicester (B)                 100
City of Wolverhampton District (B)     97
Hyndburn District (B)                  94
Southend-on-Sea (B)                    92
South Tyneside District (B)            91
Norwich District (B)                   91
Name: count, dtype: int64

In [51]:
leicester_coordinates = coordinates_df[coordinates_df["District"] == "City of Leicester (B)"]

In [63]:
leicester_coordinates

,District,Description,POLYGON_ID,GridName,Longitude,Latitude
109949,City of Leicester (B),Unitary Authority,97712,Grid2_0,-1.178881,52.687005
109950,City of Leicester (B),Unitary Authority,97712,Grid3_0,-1.164038,52.687005
109951,City of Leicester (B),Unitary Authority,97712,Grid5_0,-1.134352,52.687005
109952,City of Leicester (B),Unitary Authority,97712,Grid4_0,-1.149195,52.687005
109953,City of Leicester (B),Unitary Authority,97712,Grid2_1,-1.178888,52.678007
...,...,...,...,...,...,...
110044,City of Leicester (B),Unitary Authority,97712,Grid6_11,-1.119727,52.588025
110045,City of Leicester (B),Unitary Authority,97712,Grid3_12,-1.164166,52.579026
110046,City of Leicester (B),Unitary Authority,97712,Grid4_12,-1.149359,52.579026
110047,City of Leicester (B),Unitary Authority,97712,Grid2_11,-1.178964,52.588025
110048,City of Leicester (B),Unitary Authority,97712,Grid4_11,-1.149346,52.588025

In [61]:
radius = 500

In [62]:
leicester_coordinates['num 500'] = leicester_coordinates.apply(lambda c1: merged_crime_df.apply(lambda c2: GD.geodesic((c1['Longitude'], c1['Latitude']), (c2['Longitude'], c2['Latitude'])).m < radius, axis=1).sum(), axis=1)

KeyboardInterrupt:

In [69]:
test_coordinate = coordinates_df.iloc[[109950]]

In [73]:
test_coordinate['num 500'] = test_coordinate.apply(lambda c1: merged_crime_df.apply(lambda c2: GD.geodesic((c1['Longitude'], c1['Latitude']), (c2['Longitude'], c2['Latitude'])).m < radius, axis=1).sum(), axis=1)

/tmp/ipykernel_4704/4102850499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_coordinate['num 500'] = test_coordinate.apply(lambda c1: merged_crime_df.apply(lambda c2: GD.geodesic((c1['Longitude'], c1['Latitude']), (c2['Longitude'], c2['Latitude'])).m < radius, axis=1).sum(), axis=1)

/tmp/ipykernel_4704/4102850499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_coordinate['num 500'] = test_coordinate.apply(lambda c1: merged_crime_df.apply(lambda c2: GD.geodesic((c1['Longitude'], c1['Latitude']), (c2['Longitude'], c2['Latitude'])).m < radius, axis=1).sum(), axis=1)

In [ ]:
radius_list = [500, 1000, 1500]
# grid_coords = pd.read_csv('/Users/nateoppenheimer/code/willbanny/Location-Analysis/raw_data/features/bquxjob_2efec792_188918eb4d5.csv')
#grid_coords = get_district_gridpoints_df('City of Leicester (B)')
# google_data = pd.read_csv('/Users/nateoppenheimer/code/willbanny/Location-Analysis/raw_data/features/google_data.csv')
#google_data = get_google_df('City of Leicester (B)')
#google_engineered = grid_coords.copy()
google_engineered = google_engineered.rename(columns={"Latitude": "lat", "Longitude": "lng"})
def find_given_radius(r, google_engineered, google_data, features):
    for f in features:
        google_engineered[f'{f}_{r}'] = \
        google_engineered.apply(lambda c1: google_data[google_data['feature_name']==f].apply\
                             (lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < r, axis=1)\
                             .sum(), axis=1)
    return google_engineered
for r in radius_list:
    google_engineered = find_given_radius(r, google_engineered, google_data, list(google_data['feature_name'].unique()))

In [76]:
leicester_coordinates.rename(columns={"Latitude": "lat", "Longitude": "lng"}, inplace = True)

/tmp/ipykernel_4704/1978202578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leicester_coordinates.rename(columns={"Latitude": "lat", "Longitude": "lng"}, inplace = True)

In [ ]:
def find_given_radius(r, google_engineered, google_data, features):
    for f in features:
        [f'{f}_{r}'] = \
        crime_engineered.apply(lambda c1: google_data[google_data['feature_name']==f].apply\
                             (lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < r, axis=1)\
                             .sum(), axis=1)
    return google_engineered
for r in radius_list:
    google_engineered = find_given_radius(r, google_engineered, google_data, list(google_data['feature_name'].unique()))