In [1]:
import pandas as pd
import numpy as np
import geopy.distance as GD

In [6]:
google_data = pd.read_csv('/Users/nateoppenheimer/code/willbanny/Location-Analysis/raw_data/features/google_data.csv')
# google_data = google_data[['lat', 'lng']]
google_data

           lat       lng      feature_name               district
0    52.626772 -1.134946          hospital  City of Leicester (B)
1    52.648301 -1.121287          hospital  City of Leicester (B)
2    52.636918 -1.125110          hospital  City of Leicester (B)
3    52.628454 -1.120936          hospital  City of Leicester (B)
4    52.631605 -1.119917          hospital  City of Leicester (B)
..         ...       ...               ...                    ...
175  52.636445 -1.134958  place_of_worship  City of Leicester (B)
176  52.636771 -1.130150  place_of_worship  City of Leicester (B)
177  52.632668 -1.133536  place_of_worship  City of Leicester (B)
178  52.635278 -1.137778  place_of_worship  City of Leicester (B)
179  52.630710 -1.125824  place_of_worship  City of Leicester (B)

[180 rows x 4 columns]

In [7]:
example_coords = pd.DataFrame()
example_coords['lat'] = [52.626772, 52.648301, 52.636918]
example_coords['lng'] = [-1.134946, -1.121287, -1.125110]
example_coords

         lat       lng
0  52.626772 -1.134946
1  52.648301 -1.121287
2  52.636918 -1.125110

In [80]:
example_coords.iloc[0,:]

lat    52.626772
lng    -1.134946
Name: 0, dtype: float64

In [81]:
geopy.distance.geodesic([52.626772,-1.134946], [52.648301,-1.121287]).m

2567.994301568318

In [9]:
radius = 500

In [10]:
%time
example_coords.apply(lambda c1: google_data.apply(lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < radius, axis=1).sum(), axis=1)

CPU times: user 5 µs, sys: 1 µs, total: 6 µs
Wall time: 13.1 µs

0     5
1     3
2    13
dtype: int64

In [24]:
example_coords = pd.read_csv('/Users/nateoppenheimer/code/willbanny/Location-Analysis/raw_data/features/bquxjob_2efec792_188918eb4d5.csv')

In [25]:
example_coords = example_coords.rename(columns={"Latitude": "lat", "Longitude": "lng"})

In [26]:
example_coords.head()

,District,Description,POLYGON_ID,GridName,lng,lat
0,City of Leicester (B),Unitary Authority,97712,Grid2_0,-1.178881,52.687005
1,City of Leicester (B),Unitary Authority,97712,Grid3_0,-1.164038,52.687005
2,City of Leicester (B),Unitary Authority,97712,Grid5_0,-1.134352,52.687005
3,City of Leicester (B),Unitary Authority,97712,Grid4_0,-1.149195,52.687005
4,City of Leicester (B),Unitary Authority,97712,Grid2_1,-1.178888,52.678007

In [130]:
%time
example_coords['num'] = example_coords.apply(lambda c1: google_data.apply(lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < radius, axis=1).sum(), axis=1)
example_coords.sort_values(by='num' ,ascending=False)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 6.91 µs

,District,Description,POLYGON_ID,GridName,lng,lat,num
56,City of Leicester (B),Unitary Authority,97712,Grid5_6,-1.134453,52.633016,32
54,City of Leicester (B),Unitary Authority,97712,Grid6_6,-1.119628,52.633016,6
72,City of Leicester (B),Unitary Authority,97712,Grid6_7,-1.119648,52.624017,6
41,City of Leicester (B),Unitary Authority,97712,Grid5_5,-1.134436,52.642014,5
42,City of Leicester (B),Unitary Authority,97712,Grid4_5,-1.149264,52.642014,4
...,...,...,...,...,...,...,...
31,City of Leicester (B),Unitary Authority,97712,Grid7_4,-1.104758,52.651012,0
28,City of Leicester (B),Unitary Authority,97712,Grid3_4,-1.164080,52.651012,0
27,City of Leicester (B),Unitary Authority,97712,Grid2_4,-1.178911,52.651012,0
26,City of Leicester (B),Unitary Authority,97712,Grid1_4,-1.193742,52.651012,0
99,City of Leicester (B),Unitary Authority,97712,Grid4_11,-1.149346,52.588025,0

In [14]:
google_data.head()

         lat       lng feature_name               district
0  52.626772 -1.134946     hospital  City of Leicester (B)
1  52.648301 -1.121287     hospital  City of Leicester (B)
2  52.636918 -1.125110     hospital  City of Leicester (B)
3  52.628454 -1.120936     hospital  City of Leicester (B)
4  52.631605 -1.119917     hospital  City of Leicester (B)

In [27]:
features = list(google_data['feature_name'].unique())
features

['hospital', 'train_station', 'bus_station', 'park', 'place_of_worship']

In [28]:
# example_coords['num'] = \
example_coords.apply(lambda c1: google_data[google_data['feature_name']=='hospital'].apply\
                     (lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < radius, axis=1)\
                     .sum(), axis=1)

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Length: 100, dtype: int64

In [29]:
for f in features:
    example_coords[f] = \
    example_coords.apply(lambda c1: google_data[google_data['feature_name']==f].apply\
                         (lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < radius, axis=1)\
                         .sum(), axis=1)

In [34]:
example_coords.sort_values(by=['bus_station'], ascending=False)

,District,Description,POLYGON_ID,GridName,lng,lat,hospital,train_station,bus_station,park,place_of_worship
56,City of Leicester (B),Unitary Authority,97712,Grid5_6,-1.134453,52.633016,0,0,3,4,25
45,City of Leicester (B),Unitary Authority,97712,Grid7_5,-1.104781,52.642014,0,0,2,1,0
41,City of Leicester (B),Unitary Authority,97712,Grid5_5,-1.134436,52.642014,0,0,2,2,1
0,City of Leicester (B),Unitary Authority,97712,Grid2_0,-1.178881,52.687005,0,0,0,0,0
63,City of Leicester (B),Unitary Authority,97712,Grid0_7,-1.208577,52.624017,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
30,City of Leicester (B),Unitary Authority,97712,Grid6_4,-1.119589,52.651012,2,0,0,1,0
29,City of Leicester (B),Unitary Authority,97712,Grid5_4,-1.134419,52.651012,0,0,0,2,0
28,City of Leicester (B),Unitary Authority,97712,Grid3_4,-1.164080,52.651012,0,0,0,0,0
27,City of Leicester (B),Unitary Authority,97712,Grid2_4,-1.178911,52.651012,0,0,0,0,0
99,City of Leicester (B),Unitary Authority,97712,Grid4_11,-1.149346,52.588025,0,0,0,0,0

In [36]:
def find_given_radius(r, example_coords, google_data):
    for f in features:
        example_coords[f'{f}_{r}'] = \
        example_coords.apply(lambda c1: google_data[google_data['feature_name']==f].apply\
                             (lambda c2: GD.geodesic((c1['lng'], c1['lat']), (c2['lng'], c2['lat'])).m < r, axis=1)\
                             .sum(), axis=1)
    return example_coords

In [39]:
df = find_given_radius(1500, example_coords, google_data)

In [40]:
df.sort_values(by=['hospital_1500'], ascending=False)

,District,Description,POLYGON_ID,GridName,lng,lat,hospital,train_station,bus_station,park,...,hospital_500,train_station_500,bus_station_500,park_500,place_of_worship_500,hospital_1500,train_station_1500,bus_station_1500,park_1500,place_of_worship_1500
56,City of Leicester (B),Unitary Authority,97712,Grid5_6,-1.134453,52.633016,0,0,3,4,...,0,0,3,4,25,10,1,32,28,58
43,City of Leicester (B),Unitary Authority,97712,Grid6_5,-1.119608,52.642014,0,0,0,0,...,0,0,0,0,0,8,1,24,9,24
54,City of Leicester (B),Unitary Authority,97712,Grid6_6,-1.119628,52.633016,2,0,0,1,...,2,0,0,1,3,7,1,25,20,27
53,City of Leicester (B),Unitary Authority,97712,Grid4_6,-1.149277,52.633016,0,0,0,2,...,0,0,0,2,0,7,0,2,21,19
66,City of Leicester (B),Unitary Authority,97712,Grid5_7,-1.134470,52.624017,2,0,0,1,...,2,0,0,1,0,7,1,18,23,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,City of Leicester (B),Unitary Authority,97712,Grid7_4,-1.104758,52.651012,0,0,0,0,...,0,0,0,0,0,0,0,3,5,0
28,City of Leicester (B),Unitary Authority,97712,Grid3_4,-1.164080,52.651012,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,City of Leicester (B),Unitary Authority,97712,Grid2_4,-1.178911,52.651012,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,City of Leicester (B),Unitary Authority,97712,Grid1_4,-1.193742,52.651012,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,City of Leicester (B),Unitary Authority,97712,Grid4_11,-1.149346,52.588025,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0